// btn
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: background-color .2s linear, color .2s linear;
  column-gap: 8px;
  height: 40px;
  font-size: 14px;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;

  @media(max-width: 375px) {
    padding-left: 11px;
    padding-right: 11px;
  }

  &--lg {
    height: 52px;
    padding-left: 32px;
    padding-right: 32px;

    @media(max-width: 991px) {
      height: 46px;
    }
  }

  &--sm {
    height: 36px;
  }

  &--white {
    background-color: #fff;
  }

  svg {
    width: 16px;
    height: 16px;
    stroke: #000;
  }

  &--text {
    padding-left: 0;
    padding-right: 0;
    height: fit-content;

    svg {
      width: 24px;
      stroke-width: 2px;
    }

    &-white {
      color: #fff;

      svg {
        fill: transparent;
        stroke: #fff;

      }

      &:hover {
        color: var(--orange);

        svg {
          stroke: var(--orange);
        }
      }
    }

    &-black {
      svg {
        fill: transparent;
        stroke: var(--black);
      }

      &:hover {
        color: var(--orange);

        svg {
          stroke: var(--orange);
        }
      }
    }

    &-grey-3 {
      color: var(--grey3);

      svg {
        fill: transparent;
        stroke: var(--grey3);
      }

      &:hover {
        color: var(--orange);

        svg {
          stroke: var(--orange);
        }
      }
    }

  }

  &--orange {
    background-color: var(--orange);
    color: #fff;

    &:hover {
      background-color: #e36a00;
    }
  }

  &--haki {
    background-color: var(--haki);
    color: #fff;

    &:hover {
      background-color: var(--orange);
    }
  }

  &--light-bckg {
    background-color: var(--light-bckg);

    &:hover {
      background-color: var(--grey1);
    }
  }

  &--transparent-stroke {
    border: 1px solid var(--stroke);

    &:hover {
      background-color: var(--orange);
      color: #fff;
      border-color: var(--orange);
    }
  }

  &--transparent {
    svg {
      fill: transparent;
      stroke: var(--grey3);
      stroke-width: 2px;
    }

    &:hover {
      color: var(--orange);

      svg {
        stroke: var(--orange);
        fill: var(--orange);
      }

    }
  }

  &.fz-15 {
    font-size: 15px;
  }

  &.fz-16 {
    font-size: 16px;
  }

  &--h-48 {
    height: 48px;
  }

  .remove-item {
    svg {
      width: 16px;
      height: 16px;
      stroke: var(--grey3);
      stroke-width: 2px;
    }
  }

  &.ml-auto {
    margin-left: auto;
  }

  &.min-w-240 {
    min-width: 240px;
  }

  &--sm-w-100 {
    @media(max-width: 575px) {
      width: 100%;
    }
  }

  &--sm-h-26 {
    @media(max-width: 991px) {
      height: 26px;
    }
  }
}

.headerTBtn {
  svg {
    width: 16px;
  }
}

.searchFieldClear {
  margin-right: 13px;
  height: fit-content;
  position: relative;
  width: 16px;
  opacity: 0;
  visibility: hidden;

  &.active {
    opacity: 1;
    visibility: visible;
  }

  &::after {
    content: '';
    height: 53px;
    width: 1px;
    background-color: #d9d9d9;
    position: absolute;
    right: -6px;
    top: -19px;
    pointer-events: none;

    @media(max-width: 1199px) {
      display: none;
    }
  }

  &.ml-auto {
    margin-left: auto;
  }
}

.headerBtnCatalog,
.headerBtnCatalogMenu {
  height: 40px;

  &>svg {
    width: 20px;
    height: 20px;
  }

  .rect {
    display: flex;

    svg {
      stroke: var(--orange);
      fill: var(--orange);
    }
  }
}

.productCardBtn {
  border-radius: 20px;
  font-size: 15px;
  width: 100%;
  height: 36px;
  display: none;

  @media(max-width: 1199px) {
    display: flex;
  }

  svg {
    width: 20px;
    height: 20px;
    stroke: #fff;
    stroke-width: 2px;
    fill: transparent;
  }

  &--fit {
    width: fit-content;
    height: 48px;
    font-size: 16px;
    border-radius: 16px;
    animation: none !important;
    -webkit-animation: none !important;

    @media(max-width: 991px) {
      height: 36px;
      width: 100%;
      border-radius: 20px;
      font-size: 15px;
    }
  }
}

.productCardAddToWishlist {
  position: absolute;
  right: 14px;
  top: 14px;
  width: fit-content;
  height: fit-content;
  display: flex;

  &:hover {
    svg {
      fill: var(--orange);
      stroke: var(--orange);
    }
  }

  svg {
    width: 24px;
    height: 24px;
    stroke-width: 2px;
    fill: transparent;
    stroke: var(--haki);

    @media(max-width: 991px) {
      width: 20px;
      height: 20px;
    }
  }

  &.active {
    svg {
      fill: var(--orange);
      stroke: var(--orange);
    }
  }
}

.catCardMoreBtn {
  svg {
    width: 20px;
    height: 20px;
  }
}

.filter-item-selected {
  padding-right: 10px;

  &:disabled {
    pointer-events: none;
    opacity: .4;
  }
}

.loadmore {
  min-width: 320px;
  height: 44px;
}

.productMainAddToCart {
  height: 48px;
}

.productMainAddToWishlist {
  &.active {
    color: var(--orange);

    svg {
      fill: var(--orange);
      stroke: var(--orange);
    }
  }

  height: 48px;
}

.productMainAddToWishlist--h-32 {
  height: 32px;
}

.quantity {
  min-height: 50px;

  @media(max-width: 991px) {
    min-height: 30px;
  }
}

.quantity.border-grey-1:has(.quantity-input:focus) {
  border-color: var(--orange);
  border-width: 2px;
  padding: 7px !important;

  @media(max-width: 991px) {
    padding: 3px !important;
  }
}

.quantity-btn {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bckg);
  border-radius: 50%;
  transition: background-color .2s linear;
  flex-shrink: 0;

  &:hover {
    background-color: var(--grey1);
  }
  &.disabled {
    opacity: .4;
    pointer-events: none;
  }
}

.quantity-input {
  text-align: center;
  width: 100%;
}

.productBanerBtn {
  font-size: 13px;
}

.cartItemRemove {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-top: 15px;

  &:hover {
    svg {
      stroke: var(--orange);
    }
  }

  svg {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: var(--grey3);
    stroke-width: 2px;
  }
}

.add-address {
  svg {
    width: 20px;
    height: 20px;
  }
}

.button-top {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  background: var(--light-bckg);
  border: 1px solid var(--stroke);
  border-radius: 26px;
  width: 52px;
  height: 52px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: list-item;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, box-shadow .2s linear, background-color .2s linear;
  z-index: 11;

  &:hover {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.22);
    background-color: var(--grey1);
  }

  svg {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: var(--black);
    stroke-width: 2px;
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }

  @media(max-width: 1199px) {
    bottom: 90px;
    right: 20px;
  }
}

.headerBtnCatalog--mobile {
  height: fit-content;

  .rect {
    svg {
      width: 24px;
      height: 24px;
      fill: var(--haki);
      stroke: var(--haki);
      stroke-width: 1px;
    }
  }

}

.footerBtnOrder {
  @media(max-width: 1199px) {
    height: 60px;
    border-radius: 30px;
    font-size: 16px;
  }
}


.headerMenuCatalogBtn {
  align-items: center;
  column-gap: 12px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;

  .rect {
    svg {
      width: 24px;
      height: 24px;
      fill: var(--orange);
      stroke: var(--orange);
    }
  }
}