.filter {
  &Item {
    padding: 20px 16px 12px;

    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
    }

    &Count {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
      border-radius: 12px;
      background-color: var(--haki);
      font-weight: 700;
      font-size: 13px;
      line-height: 138%;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--white);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.filterItemInner {
  max-height: 252px;
  overflow-y: scroll;
}

.catalog-filter {
  @media(max-width: 991px) {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 20px;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 13;
    padding-bottom: 95px;
    padding-top: 90px;
  }

  &.active {
    display: block;
    -webkit-animation: shows 0.5s;
    animation: shows 0.5s;
  }
}

.catalog-filter-close {
  width: 40px;
  height: 40px;

  &:hover {
    svg {
      stroke: var(--orange);
    }
  }

  svg {
    fill: transparent;
    stroke: var(--black);
    width: 20px;
    height: 20px;
  }
}

.filterW {
  @media(max-width: 575px) {
    width: 100%;
    overflow-x: scroll;
    margin-left: -15px;
    padding-left: 15px;
    margin-right: -15px;
    padding-right: 15px;
    width: calc(100% + 30px);
  }

  .button {
    flex-shrink: 0;
  }
}

.filterHead {
  @media(max-width: 991px) {
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
  }
}

.filterFooter {
  @media(max-width: 991px) {
    background-color: #fff;
    position: fixed;
    padding-bottom: 20px;
    padding-top: 20px;
    bottom: 0;
    width: 100%;
    left: 0;
    border-top: 1px solid var(--stroke);
    box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.08);

  }
  .button {
    @media(max-width: 991px){
      height: 52px;
    }
  }
}