// Header
.header {
  position: relative;
  z-index: 13;

  @media(max-width: 1199px) {
    position: fixed;
    width: 100%;
  }

  .header-action-link {
    display: flex;
    align-items: center;
    column-gap: 4px;

    &:hover {
      svg {
        stroke: var(--orange);
      }
    }

    svg {
      width: 24px;
      height: 24px;
      fill: transparent;
      stroke: var(--grey3);
      stroke-width: 2px;
    }

    &-account {
      &:hover {
        .color-grey-3 {
          color: var(--orange);
        }

        svg {
          fill: var(--orange);
          stroke: transparent;
        }
      }

      svg {
        fill: var(--grey3);
        stroke-width: 1px;
        stroke: transparent;
      }
    }

    .count {
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 12px;
      line-height: 167%;
      text-align: center;
      color: var(--white);
      border-radius: 50%;
    }
  }

  &T {
    background: var(--haki);
    color: var(--white);
    padding-top: 12px;
    padding-bottom: 12px;

    @media(max-width: 1199px) {
      display: none;
    }

    &Nav {
      ul {
        li {
          a {
            font-size: 14px;
            line-height: 143%;
            letter-spacing: 0.02em;
            font-weight: 600;

            &:hover {
              color: var(--orange);
            }
          }
        }
      }
    }

    &Phone {
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      margin-right: 4px;
      padding-left: 28px;
      background: url('@img/icons/phone-white.svg') no-repeat left center / 20px;
      transition: background .2s linear, color .2s linear;

      &:hover {
        color: var(--orange);
        background: url('@img/icons/phone-orange.svg') no-repeat left center / 20px;
      }
    }
  }

  .headerBtnCatalog--active-show {
    display: none;
  }

  .headerLogo--active-show {
    display: none;
  }

  &C {
    padding-top: 17px;
    padding-bottom: 17px;
    position: absolute;
    background-color: #fff;
    width: 100%;

    @media(max-width: 1199px) {
      border-bottom: 1px solid var(--stroke);
      transition: top 0.3s ease, opacity 0.3s ease, transform .2s linear;
      background-color: #fff;
      width: 100%;
    }

    &.at-top {
      // opacity: 1;
      // transform: translateY(0);
    }

    &.header-fixed-hide {
      opacity: 0;
      /* Убираем ее за пределы видимости (можно использовать top: -100px, но opacity более плавно работает в сочетании с transform) */
      transform: translateY(-100%);
    }

    &.active {
      position: fixed;
      width: 100%;
      left: 0;
      top: 0;
      right: 0;
      width: 100%;
      z-index: 3;
      display: flex;
      -webkit-animation: shows 0.5s;
      animation: shows 0.5s;
      background-color: var(--haki);
      padding-top: 12px;
      padding-bottom: 12px;

      @media(max-width: 1199px) {
        background-color: #fff;
        position: fixed;
        opacity: 1;
      }

      .headerLogo--active-show {
        display: block;

        @media(max-width: 1199px) {
          display: none;
        }
      }

      .headerLogo--active-hide {
        display: none;
      }

      .header-action-link {
        &:hover {
          svg {
            stroke: var(--orange);
          }
        }

        &-account {
          &.has-submenu {
            background: url('@img/icons/arrow-down.svg') no-repeat right top 2px / 20px;
            padding-right: 20px;

            &:hover {
              background: url('@img/icons/arrow-up.svg') no-repeat right top 2px / 20px;

              .sub-menu-account {
                opacity: 1;
                visibility: visible;
              }
            }
          }

          &:hover {
            .color-grey-3 {
              color: var(--orange);
            }

            svg {
              fill: var(--orange);
              stroke: transparent;
            }
          }

          svg {
            fill: var(--grey3);
            stroke-width: 1px;
            stroke: transparent;
          }
        }
      }

      .header-action-link svg {
        stroke: #fff;
      }

      .header-action-link-account svg {
        fill: #fff;
        stroke: transparent;
      }

      .color-grey-3 {
        color: #fff;
      }

      .headerBtnCatalog--active-show {
        display: flex;
        margin-right: 24px;

        @media(max-width: 1199px) {
          display: none;
        }
      }

      .headerMenu {
        top: 88px;

        @media(max-width: 1199px) {
          top: 0;
          height: 100vh;
        }
      }
      .header-action-link-account {
        &-text {
          @media(max-width: 1400px){
            display: none;
          } 
        }
      }
    }

    @media(max-width: 1199px) {
      padding-top: 12px;
      padding-bottom: 12px;
    }
  }

  &B {
    padding-top: 16px;
    padding-bottom: 16px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    margin-top: 98px;

    &--blur {
      backdrop-filter: blur(12px);
      background: rgba(102, 110, 79, 0.5);
    }

    &--absolute {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
    }

    &--black {
      .headerBNav {
        ul {
          li {
            a {
              color: var(--black);
            }
          }
        }
      }

      .headerBtnCatalog {
        color: var(--main);
      }
    }


    &Nav {
      padding-left: 52px;
      margin-left: 52px;
      border-left: 1px solid var(--grey2);
      width: 100%;

      &W {
        display: flex;
        align-items: center;
      }

      ul {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 30px;

        li {
          order: 2;

          &.no-wrap {
            order: 1;
          }

          a {
            font-size: 14px;
            font-weight: 700;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: var(--white);

            &:hover {
              color: var(--orange);
            }
          }
        }
      }

      &--black {
        border-left: 1px solid var(--stroke);

        ul {
          li {
            a {
              color: var(--black);
            }
          }
        }
      }
    }

    @media(max-width: 1199px) {
      display: none;
    }
  }

  .logo {
    img {
      width: 150px;

      @media(max-width: 1199px) {
        width: 115px;
      }
    }
  }

  .has-submenu {
    position: relative;

    &>a {
      padding-right: 24px;
      background: url('@img/icons/arrow-down.svg') no-repeat right top 0 / 20px;
      transition: color .2s linear, background .2s linear;

      &:has(+.sub-menu:hover) {
        background: url('@img/icons/arrow-up.svg') no-repeat right top 0 / 20px;
        color: var(--orange);
      }

    }

    &:hover {
      &>a {
        background: url('@img/icons/arrow-up.svg') no-repeat right top 0 / 20px;
        color: var(--orange);
      }

      &>.sub-menu {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  .sub-menu {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    width: 145px;
    flex-direction: column;
    background-color: var(--light-bckg);
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
    padding: 16px;
    border-radius: 20px;
    z-index: 1;
    right: -9px;
    align-items: flex-start;
    transition: opacity .2s linear, visibility .2s linear;

    li {
      &:not(:last-child) {
        margin-bottom: 15px;
      }

      a {
        color: var(--main-color);
        font-size: 14px;
        line-height: normal;
        display: flex;
      }
    }

    &::before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      right: 10px;
      top: 0;
      background: url('@img/icons/sub-menu-icon.svg') no-repeat center center / 20px;
      top: -7px;
    }
  }

  .socials {
    ul {
      column-gap: 12px;

      li {
        a {
          &:hover {
            opacity: .85;
          }

          img {
            width: 24px;
          }
        }
      }
    }
  }

  &--black {

    .headerB {
      border-top: 1px solid var(--stroke);
      border-bottom: 1px solid var(--stroke);

      .has-submenu {

        &>a {
          background: url('@img/icons/arrow-down-black.svg') no-repeat right top 0 / 20px;
        }

        &:hover {
          &>a {
            background: url('@img/icons/arrow-up.svg') no-repeat right top 0 / 20px;
          }
        }
      }
    }
  }

  .searchW {
    .formInput {
      width: 510px;

      @media(max-width: 1199px) {
        width: 100%;
      }

      &:focus {
        width: 509px;

        // padding-left: 52px;
        // background-position: left 16px center;
        @media(max-width: 1199px) {
          width: 100%;
        }
      }
    }
  }
}

.headerMenu {
  position: absolute;
  width: 100%;
  height: calc(100vh + 50px);
  overflow-y: scroll;
  background-color: #fff;
  top: 147px;
  border-top: 1px solid var(--stroke);
  display: none;
  z-index: 1;

  @media(max-width: 1199px) {
    top: 74px;
    background-color: var(--light-bckg);
    height: calc(100vh - 74px);
    padding-bottom: 50px;
  }

  .container {
    height: 100%;
  }

  &.active {
    display: block;
    -webkit-animation: shows 0.5s;
    animation: shows 0.5s;
  }

  &Nav {
    ul {
      li {
        a {
          padding-top: 8px;
          padding-bottom: 8px;
          font-size: 14px;
          line-height: 24px;
          font-weight: 700;
          display: flex;
          text-transform: uppercase;
          padding-left: 28px;
          transition: background-color .2s linear, color .2s linear, border-color .2s linear;
          border-left: 4px solid transparent;

          &:hover {
            background-color: #fff;
            color: var(--orange);
            border-color: var(--orange)
          }
        }

        &.active {
          a {
            background-color: #fff;
            color: var(--orange);
            border-color: var(--orange);
          }
        }
      }
    }
  }

  &Sidebar {
    background-color: var(--light-bckg);
    width: 200px;
    flex-shrink: 0;
    position: relative;
    padding-top: 16px;
    padding-bottom: 200px;
    padding-left: 8px;

    &::before {
      content: '';
      position: absolute;
      right: 100%;
      top: 0;
      width: calc((100vw - 1300px) / 2);
      height: 100%;
      background-color: var(--light-bckg);

      @media(max-width: 1400px) {
        width: calc((100vw - 1140px) / 2);
      }
    }
  }

  &Content {
    width: 100%;
    padding: 32px;
    padding-bottom: 200px;
  }

  &W {
    display: flex;
    min-height: 100%;
  }
}

.headerMenuTabContent {
  display: none;

  &.active {
    display: block;
  }
}

.header-action-link-account {
  position: relative;
  transition: background .2s linear, color .2s linear;

  &>span {
    cursor: pointer;
  }

  svg {
    transition: fill .2s linear, stroke .2s linear;
    cursor: pointer;
  }

  &.has-submenu {
    background: url('@img/icons/arrow-down-grey-3.svg') no-repeat right top 2px / 20px;
    padding-right: 20px;

    &:hover {
      background: url('@img/icons/arrow-up.svg') no-repeat right top 2px / 20px;

      .sub-menu-account {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.sub-menu-account {
  width: 235px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  background: var(--light-bckg);
  border-radius: 20px;
  padding: 24px;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  right: -20px;
  z-index: 1;
  transition: opacity .2s linear, visibility .2s linear;
}

.profileNav {
  ul {
    li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }

      a {
        font-size: 14px;
        font-weight: 700;
        text-transform: uppercase;

        &:hover {
          color: var(--orange);
        }
      }
    }
  }
}

.headerTMobile {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--stroke);
  background-color: #fff;
  transition: transform .2s linear;

  .socials {
    ul {
      display: flex;
      align-items: center;
      column-gap: 24px;

      li {
        a {
          img {
            width: 24px;
          }
        }
      }
    }
  }
}

.headerMenuCatalogHead {
  padding-top: 16px;
  padding-bottom: 15px;

  @media(max-width: 575px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.headerMenuMobile {
  background-color: var(--light-bckg);

  .container {
    @media(max-width: 575px) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.headerMenuMobileClose {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 10px;

  svg {
    width: 20px;
    height: 20px;
    stroke: var(--black);
  }
}

.headerMenuMobileNav {

  &>ul {
    &>li {
      position: relative;

      &>a,
      &>button {
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;
        display: flex;
        padding-left: 20px;
        color: var(--black);
        background: url('@img/icons/arrow-next-black.svg') no-repeat right 3px center / 20px;
        transition: background-color .2s linear, color .2s linear, background-image .2s linear;

        @media(max-width: 575px) {
          padding-left: 15px;
          background: url('@img/icons/arrow-next-black.svg') no-repeat right 15px center / 20px;
        }

        &:hover {
          background-color: #fff;
        }
      }

      a,
      button {
        font-weight: 700;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.02em;
        text-transform: uppercase;
      }

      .submenu {
        display: none;
        padding-left: 32px;
        padding-top: 8px;
        padding-bottom: 8px;

        li {
          &:not(:last-child) {
            margin-bottom: 10px;
          }

          a {
            display: flex;
            width: 100%;
          }
        }
      }

      &.active {

        &>a,
        &>button {
          background-color: #fff;
          color: var(--orange);
          background: #fff url('@img/icons/arrow-down-orange.svg') no-repeat right 3px center / 20px;
          position: relative;

          @media(max-width: 575px) {
            background: #fff url('@img/icons/arrow-down-orange.svg') no-repeat right 15px center / 20px;
          }

          &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 4px;
            height: 100%;
            background-color: var(--orange);
          }
        }
      }
    }
  }
}



.header:has(.headerC.active) .headerTMobile {
  transform: translateY(-200px);
}