// modal
.modal {
  display: none;

  &-header {
    padding: 45px;
    padding-bottom: 25px;
    border-bottom: none;
  }

  &-body {
    padding: 45px;
    padding-top: 0;
  }

  &-title {
    font-size: 23px;
  }

  .btn-close {
    background: none;
    opacity: 1;
  }
}

.modal-cookie {
  border: 1px solid var(--stroke);
  border-radius: 32px;
  padding: 32px;
  width: 480px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);
  background: var(--white);
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  bottom: 10px;
  z-index: 11;
  @media(max-width: 575px){
    width: calc(100% - 20px);
  }
}
.modal-cookie-close{
  position: absolute;
  right: 20px;
  top: 20px;
  @media(max-width: 575px){
    right: 10px;
    top: 10px;
  }
  
  svg {
    width: 24px;
    height: 24px;
    fill: transparent;
    stroke: #655F5C;
    stroke-width: 2px;
  }
  &:hover {
    svg {
      stroke: var(--black);
    }
  }
}