.order {
  &Item {
    padding: 20px;
    display: flex;

    @media(max-width: 991px) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      gap: 4px;
    }

    span {
      display: block;
      flex-grow: 1;
      flex-basis: 0;

      &:nth-child(1) {
        @media(max-width: 991px) {
          grid-column: 6 span;
          order: 1;
        }
      }

      &:nth-child(2) {
        @media(max-width: 991px) {
          grid-column: 6 span;
          order: 3;
        }
      }

      &:nth-child(3) {
        @media(max-width: 991px) {
          grid-column: 6 span;
          order: 4;
        }
      }

      &:nth-child(4) {
        width: 76px;
        flex-shrink: 0;
        text-align: end;
        max-width: 76px;

        @media(max-width: 991px) {
          grid-column: 6 span;
          order: 2;
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}