.product {
  &Slider {
    overflow: visible;
    height: auto;
    padding-bottom: 20px;
    min-height: 410px;
    @media(max-width: 1199px){
      min-height: unset;
      padding-bottom: 0;
    }
    @media(max-width: 575px){
      padding-right: 10px;
    }
  }

  &Slide {
    height: auto;

    .productCard {
      @media(max-width: 1199px) {
        height: 100%;
      }
    }
  }

  &Card {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.12);
    background: var(--white);
    position: relative;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    transition: box-shadow .2s linear;

    @media(max-width: 1199px) {
      display: flex;
      flex-direction: column;
    }

    &:hover {
      box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.12);

      .productCardBtn {
        display: flex;
        -webkit-animation: shows 0.5s;
        animation: shows 0.5s;
        @media(max-width: 1199px){
          animation: none;
        }
      }
    }

    &Content {
      padding: 12px;
      flex: 1;
      display: flex;
      flex-direction: column;

      @media(max-width: 1199px) {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }

    &Title {
      font-weight: 700;
      font-size: 13px;
      line-height: 138%;
      letter-spacing: 0.02em;
      margin-bottom: 10px;
      display: block;
      width: fit-content;

      @media(max-width: 1199px) {     
        overflow: hidden;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
    }

    &Img {
      height: 195px;
      display: flex;
      padding-top: 24px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--stroke);
      @media(max-width: 1199px){
        height: 165px;
      }

      img {
        margin-left: auto;
        margin-right: auto;
        max-width: 120px;

        width: 100%;
        object-fit: contain;
      }

      &--catalog {
        height: 306px;
        @media(max-width: 575px){
          height: 160px;
        }

        img {
          max-width: 190px;     
        }
      }
    }

    &Price {
      &W {
        margin-bottom: 12px;
        margin-top: auto;
      }
    }

    &Spec {
      border-radius: 20px 20px 20px 0;
      padding: 8px 12px;
      width: fit-content;
      font-weight: 600;
      font-size: 13px;
      line-height: 154%;
      position: absolute;
      left: 0;
      font-family: var(--second-family);
      top: 0;

      @media(max-width: 991px) {
        font-size: 11px;
      }

      &.bg--haki {
        color: var(--white);
      }

      &.bg--orange {
        color: var(--white);
      }
    }
  }
}
.catalogList .productCard {
  height: 100%;
}
