.tabs {
  &__nav {
    display: flex;
    column-gap: 4px;
    border-bottom: 1px solid var(--stroke);

    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0.02em;
      padding: 16px;
      border-bottom: 3px solid transparent;
      transition: color .2s linear, border-color .2s linear;

      &:hover {
        border-color: var(--orange);
      }

      &--active {
        border-color: var(--orange);
      }
    }
  }

  &__panel {
    display: none;
    padding-top: 30px;

    &--active {
      display: block;
    }
  }
}

.productTabs {
  .content {
    color: #333;
  }
}

.searchTabs {
  .tabs__panel {
    padding-top: 40px;
  }
  .tabs__nav {
    border: none;
    column-gap: 8px;

    &-btn {
      background-color: var(--light-bckg);
      border-radius: 26px;
      border: 1px solid var(--light-bckg);
      padding-left: 24px;
      padding-right: 24px;
      height: 40px;
      padding-top: 0;
      padding-bottom: 0;
      color: var(--grey3);
      transition: background-color .2s linear, color .2s linear, borrder-color .2s linear;

      &:hover {
        background-color: var(--orange);
        color: #fff;
        border-color: var(--orange);
      }

      &--active {
        border-color: var(--orange);
        background-color: var(--orange);
        color: #fff;
      }
    }
  }
}